footer {
  height: 9vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1f2022;
}

.icon {
  width: 7.5%;
  cursor: pointer;
  font-size: 40px;
  line-height: 1.35;
}

.icon a {
  color: #61DBFB;
}

footer p {
  font-size: 32px;
  line-height: 2;
  color: #75787d;
}