footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #1f2022;
  z-index: 1000;
}

.icon {
  width: 5%;
  cursor: pointer;
  font-size: 40px;
  padding-bottom: 10px;
}

.icon a {
  color: #666666;

  transition: all ease-in-out 250ms;
}

.icon a:hover {
  color: white;
  opacity: 0.8;
}