header {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  background-color: #1f2022;
}

header h1 {
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #61DBFB;
}

header span {
  color: #F20F38;
}