header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  background-color: #1f2022;
  z-index: 1000;
}

header span {
  color: #61DBFB;
}