section {
  height: 80vh;
  background-color: #313338;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

article {
  width: 50%;
}

article h1 {
  color: #f7df1e;
}

article p {
  width: 75%;
}