#portfolio-section {
  text-align: center;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.project-item {
  flex: 1 1 calc(33.333%);
  box-sizing: border-box;
}