#portfolio-section {
  text-align: center;
}

#portfolio-section hr {
  width: 15%;
  margin: 0 auto;
  border: 2px solid #61DBFB;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.project-item {
  flex: 1 1 calc(33.333%);
  box-sizing: border-box;
}