header {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  background-color: #313338;
}

header h1 {
  cursor: pointer;
}

header a {
  text-decoration: none;
  color: #61DBFB;
}

header span {
  color: #F20F38;
}