nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  padding-top: 14px;

  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;

  transition: all ease-in-out 250ms;
}

nav a:hover {
  background-color: #61DBFB;
  color: black;
  padding: 27px 0;
}
/*
nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #61DBFB;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
  */